@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body{
    margin: 0px;
    font-family: 'Questrial', sans-serif;
    height: auto;
    background-color: #314c98;
    background-image: url("images/snow_moutain.jpg"); background-size: cover;
    /* background-image: linear-gradient( 135deg, #c55cbc 10%, #2b51b8 100%); */
}
/* Mobile */
@media only screen and (max-width: 449px){
    .banner{
        top: 0px;
        background-image: url("images/smelly-tofu.jpg");
        background-size: cover; background-position: 30%;
        width: 100%; height: 750px;
        text-align: center;
        box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.25);
    }
    .banner div{
        position: relative;
        top: 40%; font-size: 20px;
    }
    .banner h1,.banner h4{
        display: block;
        margin: auto;
        width: 80%;
        text-shadow: 1px 1px 4px rgba(0,0,0,0.75);
        color: #fff;
    }
    .banner h1,.banner h4{
        display: block;
        margin: auto;
        width: 60%;
        text-shadow: 1px 1px 4px rgba(0,0,0,0.75);
        color: #fff;
    }
    .content{
        margin: auto; margin-top: -50px;
        width: 100%; height: auto;
        background-color: #fff; 
        position: relative;
    }
    .content .circle-image-container{
        position: absolute; background-image: url("images/white-hair.jpg");
        background-position: center;background-size: 150px;
        height: 150px; width: 150px; background-color: #fff;
        top: -75px; left: 0; right: 0; margin: auto;
        text-align: center;
        border-radius: 50%;
        transition: 0.25s;
        box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.60);
    }
    .content .circle-image-container:hover{
        box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.60);
        transform: scale(1.1);
        transition: 0.25s;
    }
    #introduction{
        padding-bottom: 30px;
    }
    .intro
    {
        position: relative;
        padding-top: 150px;
        text-align: center;
    }
    .intro p{
        width: 50%; display: block; margin: auto; 
    }
    .content h3{
        width: 80%; margin: auto;
        text-align: center; margin-top: 60px;
    }
    .flexbox-container{
        display: flex; margin: auto;  margin-top: 50px;width: 75%; height: auto;
        background-color: #fff;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .flexbox-container div{
        padding: 5px; margin: 10px;
        background-color: #fff;
        box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.25);
    }
    .flexbox-container img{
        width: 265px; height: 265px; display: block; margin: auto;
        object-fit: cover; 
    }
    #Education{
        padding: 30px;
    }
    #Education h3{
        margin-bottom: 15px;
    }
    .education-table{
        margin: 30px auto; width: 90%
    }
    .education-table tr{
        display: block; margin-bottom: 30px;
    }
    .edu-logo{
        margin: 30px auto; width:25%
    }
    .edu-logo img{
        display: block; margin: auto;
        width: 100px; height: 100px;
        object-fit: fill;
    }
    .edu-desc{
        text-align: left;
    }
    .edu-desc h4{
        margin-left: 15px;
        text-align: left;
    }
    .edu-desc p{
        margin-left: 15px;
        text-align: left;
    }
    .tms{
        padding-bottom: 0px;
    }
    .tms form{
        background-image: linear-gradient( 135deg, #c55cbc 10%, #2b51b8 100%);
        width: 100%; margin: auto; padding-top: 70px; padding-bottom: 50px; color: #fff;
        box-shadow: 0px 0px 9px 3px rgba(63, 37, 37, 0.15)
    }
    .tms p{
        width: 65%; text-align: center;
        margin: 30px auto; margin-bottom: 90px;
    }
    .tms form label{
        display: block;
        margin: auto;
        width: 75%;
        padding: 5px;
    }
    .tms form input{
        border: 0;
        display: block;
        margin: auto;
        width: 75%;
        padding: 10px;
        margin-bottom: 15px;
    }
    .tms form textarea{
        border: 0;
        display: block;
        margin: auto;
        padding: 10px;
        width: 75%; height: 250px;
    }
    #submit{
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 20px 42px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 16px;
        margin: auto; margin-top: 20px;  cursor: pointer;
        border-radius: 5px;
        box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.05)
    }
    span{
        font-style: italic; font-weight: bold; color: #314c98;
    }
    footer{
        margin-top: 50px; margin-bottom: 50px;
        color: #fff; text-align: center;
    }
}

/* DesktopDesktopDesktopDesktopDesktopDesktopDesktopDesktop */
@media only screen and (min-width: 450px){
    .banner{
        top: 0px;
        background-image: url("images/smelly-tofu.jpg");
        background-size: cover; background-position: center;
        width: 100%; height: 800px; 
        font-size: 26px;
        text-align: center;
        box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.25);
    }

    .banner div{
        position: relative;
        top: 40%;
    }
    .banner h1,.banner h4{
        display: block;
        margin: auto;
        width: 60%;
        text-shadow: 1px 1px 4px rgba(0,0,0,0.75);
        color: #fff;
    }
    .content{
        margin: auto; margin-top: -50px;
        width: 80%; height: auto;
        background-color: #fff; 
        position: relative;
        box-shadow: 0px 0px 9px 3px rgba(63, 37, 37, 0.15)
    }
    .content .circle-image-container{
        position: absolute; background-image: url("images/white-hair.jpg");
        background-position: center;background-size: 300px;
        height: 250px; width: 250px; background-color: #fff;
        top: -125px; left: 0; right: 0; margin: auto;
        text-align: center;
        border-radius: 50%;
        transition: 0.25s;
    }
    .content .circle-image-container:hover{
        box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.60);
        transform: scale(1.1);
        transition: 0.25s;
    }
    #introduction{
        padding-bottom: 30px;
    }
    .intro
    {
        position: relative;
        padding-top: 165px;
        text-align: center;
    }
    .intro p{
        width: 50%; display: block; margin: auto; 
    }
    .content h3{
        width: 80%; margin: auto;
        text-align: center; margin-top: 60px;
    }
    .flexbox-container{
        display: flex; margin: auto;  margin-top: 50px;width: 75%; height: auto;
        background-color: #fff;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .flexbox-container div{
        padding: 5px; margin: 10px;
        background-color: #fff;
        box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.25);
    }
    .flexbox-container img{
        width: 265px; height: 265px; display: block; margin: auto;
        object-fit: cover;
    }
    #Education{
        padding: 30px;
    }
    #Education h3{
        margin-bottom: 15px;
    }
    .education-table{
        margin: 30px auto; width: 50%
    }
    .education-table tr{
        display: block; margin-bottom: 30px;
    }
    .edu-logo{
        margin: 30px auto; width:25%
    }
    .edu-logo img{
        display: block; margin: auto;
        width: 100px; height: 100px;
        object-fit: fill;
    }
    .edu-desc{
        text-align: left;
    }
    .edu-desc h4{
        margin-left: 15px;
        text-align: left;
    }
    .edu-desc p{
        margin-left: 15px;
        text-align: left;
    }
    .tms{
        padding-bottom: 60px;
    }
    .tms h3{
        font-size: 24px;
        margin-top: 25px;
    }
    .tms p{
        width: 65%; text-align: center;
        margin: 30px auto; margin-bottom: 50px;
    }
    .tms form{
        background-image: linear-gradient( 135deg, #c55cbc 10%, #2b51b8 100%);
        width: 60%; margin: auto; padding: 50px; color: #fff;
        box-shadow: 0px 0px 9px 3px rgba(63, 37, 37, 0.15)
    }
    .tms form label{
        display: block;
        margin: auto;
        width: 75%;
        padding: 5px;
    }
    .tms form input{
        border: 0;
        display: block;
        margin: auto;
        width: 75%;
        padding: 10px;
        margin-bottom: 10px;
    }
    .tms form textarea{
        border: 0;
        display: block;
        margin: auto;
        padding: 10px;
        width: 75%; height: 250px;
    }
    #submit{
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 20px 42px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 16px;
        margin: auto; margin-top: 20px;  cursor: pointer;
        border-radius: 5px;
        box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.05)
    }
    span{
        font-style: italic; font-weight: bold; color: #314c98;
    }
    footer{
        margin-top: 50px; margin-bottom: 50px;
        color: #fff; text-align: center;
    }
}